body {
  background: #d9acba;
  color: black;
  font-family: monospace;

  width: auto;
}

.title {
  color: black;
  font-size: 4em;
  text-shadow: 6px 6px 5px whitesmoke;
  display: grid;
  grid-template-areas: "stack";
  place-items: centre;
  border: white 0.15em solid;
}
h1 {
  text-decoration: underline;
  position: absolute;
  top: 20px;
  left: 20px;
  animation-name: slideInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

/* .title > * {
  grid-row: 1 / -1;
  grid-column: 1/ -1;
} */

.main-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows:
    auto
    auto
    auto;
}

.logo {
  background-color: #ee9490;
  width: 100%;
}

.container {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  background-image: src= "./img/Goldfish-Crackers.jpg";
}

container div {
  width: 200px;
  height: 200px;
  color: #fff;
  font-size: 2rem;
  font-family: monospace;
  text-shadow: 0 0 3px #000;
  display: flex;
  flex-wrap: wrap; /* allows the row/column to break into more than one row/column */
  flex-direction: column; /* flips the x and y axis */
  justify-content: center; /* effects the x-axis */
  align-items: center; /* effects the y-axis */
}

.pat {
  width: 30rem;
  border: solid 0.15rem black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5%;
  background-color: whitesmoke;
  /* opacity: 10; */
}
.pat:hover {
  transform: translateX(1rem);
  color: pink;
  background-color: black;
  cursor: pointer;
}

h2 {
  text-decoration: underline;
}

.mission {
  width: 30rem;
  border: solid 0.15rem black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5%;
  background-color: whitesmoke;
}

.mission:hover {
  transform: translatex(1rem);
  color: pink;
  background-color: black;
  cursor: pointer;
}

td,
th {
  border: 2px solid rgb(41, 1, 23);
  padding: 1.5rem;
  font-weight: bolder;
}

td:hover {
  cursor: pointer;
  color: pink;
  background: black;
  transform: scale(1.5);
}

.table {
  border: 2px solid black;
  background-image: url("./img/Goldfish-Crackers.jpg");
  position: relative;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
footer {
  border: 0.5em solid white;
  width: 100;
  display: flex;
  background-color: #ee9490;
  position: center;
  text-align: center;
  padding: 0.2rem;
  margin: 0.2rem;
}

.button {
  background: whitesmoke;
  border: 0.2em solid black;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.button:hover {
  color: pink;
  background-color: black;
}
