body {
  background: #bcaf9c;
  color: black;
  font-family: monospace;
  background-image: url("./img/Goldfish-Crackers.jpg");
  width: auto;
}

.title {
  color: black;
  font-size: 4em;
  text-shadow: 6px 6px 10px whitesmoke;
  display: grid;
  grid-template-areas: "stack";
  place-items: centre;
  border: black 0.15em solid;
}
h1 {
  text-decoration: underline;
  position: absolute;
  top: 20px;
  left: 20px;
  animation-name: slideInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

.title > * {
  grid-row: 1 / -1;
  grid-column: 1/ -1;
}

.main-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows:
    auto
    auto
    auto;
}

.logo {
  background-color: #ee9490;
  width: 100%;
}

.pat {
  width: 30em;
  border: solid 0.15em black;
  padding: 1em;
  margin: 1em;
  border-radius: 25%;
  opacity: 10;
}
.pat:hover {
  transform: translateX(1em);
  color: pink;
  background-color: black;
  cursor: pointer;
}

h2 {
  text-decoration: underline;
}

.mission {
  width: 30em;
  border: solid 0.15em black;
  padding: 1em;
  margin: 1em;
  border-radius: 25%;
}

.mission:hover {
  transform: translatex(1em);
  color: pink;
  background-color: black;
  cursor: pointer;
}

footer {
  border: 0.5em solid white;
  width: 100;
  display: flex;
  background-color: #ee9490;
  position: center;
  text-align: center;
  padding: 0.2em;
  margin: 0.2em;
}

.button {
  background: whitesmoke;
  border: 0.2em solid black;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.button:hover {
  color: pink;
  background-color: black;
}

td,
th {
  border: 2px solid rgb(223, 33, 138);
  padding: 1.5rem;
}

td:hover {
  cursor: pointer;
  color: pink;
  background: black;
  transform: scale(1.5);
}

myTable {
  background-image: img src= "/img/Goldfish-Crackers.jpg";
}
