body {
  background: #d9acba;
  color: black;
  font-family: monospace;
  width: auto;
}

.title {
  color: black;
  font-size: 4em;
  text-shadow: 6px 6px 5px whitesmoke;
  display: grid;
  grid-template-areas: "stack";
  place-items: centre;
  border: white 0.15em solid;
}
h1 {
  text-decoration: underline;
  position: absolute;
  top: 20px;
  left: 20px;
  animation-name: slideInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

/* .main-layout {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
} */

.logo {
  background-color: #ee9490;
  width: 100%;
}

.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  border: 3px solid black;
  display: flex;
  flex-wrap: space-evenly;
  flex-direction: row;
}

.pat {
  width: 30%;
  border: solid 0.15rem black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5%;
  background-color: whitesmoke;
  /* opacity: 10; */
  transition-duration: 1s;
  transition-delay: 0s;
}

.pat:hover {
  transform: scale(1.2);
  color: pink;
  background-color: black;
  cursor: pointer;
}

.recipes {
  width: 30%;
  border: solid 0.15rem black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5%;
  background-color: whitesmoke;
  transition-duration: 1s;
  transition-delay: 0s;
}
.recipes:hover {
  transform: scale(1.2);
  color: pink;
  background-color: black;
  cursor: pointer;
}
.h2 {
  text-decoration: underline;
  /* font-weight: bold;
  background-color: whitesmoke;
  border: 0.15rem black; */
}

.mission {
  width: 30%;
  border: solid 0.15rem black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5%;
  background-color: whitesmoke;
  transition-duration: 1s;
  transition-delay: 0s;
}

.mission:hover {
  transform: scale(1.2);
  /* transform: translatex(1rem); */
  color: pink;
  background-color: black;
  cursor: pointer;
}

.gif {
  display: flex;
  flex-wrap: wrap;
  /* justify: space-between; */
  justify-content: space-evenly;
  align-items: center;
}

td,
th {
  border: 2px solid rgb(41, 1, 23);
  padding: 1.5rem;
  font-weight: bolder;
}

td:hover {
  cursor: pointer;
  color: rgb(71, 144, 239);
  background: black;
  transform: scale(1.5);
}

.table {
  width: fit-content;
  height: auto;
  border: 2px solid black;
  background-image: url("./img/world.png");
  position: relative;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
form {
  width: 50%;
  margin: 0 auto;
}
fieldset {
  display: flex;
  flex-direction: column;
  border-color: black;
}
legend {
  text-align: center;
}
input {
  margin-bottom: 2rem;
}
label {
  margin-top: 1rem;
}

footer {
  border: 0.5em solid white;
  width: 100;
  display: flex;
  background-color: #ee9490;
  position: center;
  text-align: center;
  padding: 0.2rem;
  margin: 0.2rem;
}

.button {
  background: whitesmoke;
  border: 0.2em solid black;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.button:hover {
  color: pink;
  background-color: black;
}

.additionals {
  text-align: left;
  padding: 0.2rem;
  margin: 0.2rem;
}

.merch {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start black;
}

.merch div {
  border: solid 0.1rem black;
  width: auto;
  height: auto;
  color: #fff;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.2rem;
  margin: 0.2rem;
  width: 400px;
  height: 370px;
}

.address {
  background-image: url("./");
  border: solid 0.1rem black;
  width: auto;
  height: auto;
  color: #fff;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 0.2rem;
  margin: 0.2rem;
}
